/* Styles for the product listings */
.productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.product {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px); /* Adjust the width as needed */
    text-align: center;
} height: auto;
}

.product h2 {
    font-size: 18px;
    margin-top: 10px;
}

.product p {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #FF5733;
    margin-top: 10px;
}

button {
    background-color: #FF5733;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FF0000; /* Change to a darker shade on hover */
}